
/* media queries */

@media screen and (max-width: 985px){

    /* secciones */

    .hijoD, .hijoI{
        flex-basis: 70%;
        font-size:0.9em;
    }

    .aulas, .laboratorio, .practicas, .metodologia{
        flex-basis:30%;
    } 
}

@media screen and (max-width: 625px){
    
    /* secciones */
    
    .flexHijo{
       flex-direction: column;
       align-items: stretch;
    }

    .flexHijo h3{
        margin-top: 10px;
    }

    .hijoI, .hijoD{
        padding-left:30px;
        padding-right: 30px;
        text-align: left;
        font-size:1.3em;
    }

    .laboratorio, .metodologia{
        order:-1;
    }

    .info{
        margin-bottom:80px;
    }

    .aulas, .laboratorio, .practicas, .metodologia{
        background-repeat: no-repeat;
        background-size: contain;
        min-height: 35vh;
    }
}

